<h1>
    แจ้งลงขาย
</h1>
<nz-card style="width:100%;" nz-col class="gutter-row" [nzSpan]="24">
    <nz-input-group [nzSuffix]="suffixIconSearch" nz-col [nzSpan]="12" class=" gutter-row search-id">
        <input type="text" nz-input placeholder="ID ผู้ใช้" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
    </ng-template>
    <nz-input-group [nzSuffix]="suffixIconSearch" nz-col [nzSpan]="12" class=" gutter-row search-date">
        <input type="date" nz-input placeholder="Date" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
        <span nz-icon nzType="calendar"></span>
    </ng-template>
    <br><br>
    <nz-input-group [nzSuffix]="suffixIconSearch" nz-col [nzSpan]="12" class=" gutter-row search-animal">
        <input type="text" nz-input placeholder="เลขบัตรประชาชน" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
    </ng-template>
    <nz-input-group [nzSuffix]="suffixIconSearch" nz-col [nzSpan]="12" class=" gutter-row search-eartag">
        <input type="text" nz-input placeholder="ID เลขหู" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
    </ng-template>
    <br>
    <nz-card style="width:100%;" nz-col class="gutter-row" [nzSpan]="24">

        <nz-table #fixedTable [nzData]="data" [nzScroll]="{ x: '1150px', y: '240px' }" nz-col class="gutter-row" [nzSpan]="24">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>ID</th>
                    <th>ชื่อ</th>
                    <th>สกุล</th>
                    <th>Ear Number</th>
                    <th>วันที่ลงขาย</th>
                    <th>ราคา</th>
                    <th>ตรวจสอบข้อมูล</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of fixedTable.data">
                    <td>{{ data.No }}</td>
                    <td>{{ data.ID }}</td>
                    <td>{{ data.FirstName }}</td>
                    <td>{{ data.LastName }}</td>
                    <td>{{ data.EarNumber }}</td>
                    <td>{{ data.NotificationDate }}</td>
                    <td>{{data.Price_Rate}}</td>
                    <td>
                        <a>
                    ตรวจสอบ
                </a>
                    </td>
                    <td>
                        <label nz-checkbox [(ngModel)]="data.Actions"></label>
                    </td>
                </tr>
            </tbody>

        </nz-table>
        <button nz-button nzType="primary">Confirm</button>
    </nz-card>