<h1>ลงทะเบียนประวัติวัว</h1>

<nz-card style="width:100%;" nz-col class="gutter-row" [nzSpan]="34" nzTitle="รายละเอียดผู้ถือกรรมสิทธิ " [nzExtra]="edit">
    <form nz-form>
        <nz-form-item>
            <nz-form-label [nzSpan]="3" nzFor="FirstName">ชื่อ</nz-form-label>
            <nz-form-control [nzSpan]="6">
                <input nz-input name="FirstName" type="text" id="FirstName">
            </nz-form-control>
            <nz-form-label [nzSpan]="3" nzFor="LastName">สกุล</nz-form-label>
            <nz-form-control [nzSpan]="6">
                <input nz-input name="LastName" type="text" id="LastName">
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="3" nzFor="Province">จังหวัด</nz-form-label>
            <nz-form-control [nzSpan]="6">
                <input nz-input name="Province" type="text" id="Province">
            </nz-form-control>
            <nz-form-label [nzSpan]="3" nzFor="PhonNumber">เบอร์มือถือ</nz-form-label>
            <nz-form-control [nzSpan]="6">
                <input nz-input name="PhonNumber" type="text" id="PhonNumber">
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="3" nzFor="IDCardNumber">เลขที่บัตรประชาชน</nz-form-label>
            <nz-form-control [nzSpan]="6">
                <input nz-input name="IDCardNumber" type="text" id="IDCardNumber">
            </nz-form-control>
            <nz-form-label [nzSpan]="3" nzFor="RecommendedCode">รหัสผู้แนะนำ</nz-form-label>
            <nz-form-control [nzSpan]="6">
                <input nz-input name="RecommendedCode" type="text" id="RecommendedCode">
            </nz-form-control>
        </nz-form-item>
    </form>

    <ng-template #edit>
        <a>แก้ไข</a>
    </ng-template>
</nz-card>
<br>
<nz-card style="width:100%;" nz-col class="gutter-row" [nzSpan]="34" nzTitle="รายละเอียดพื้นฐาน และ รูปลักษณ์ " [nzExtra]="edit">


    <ng-template #edit>
        <a>แก้ไข</a>
    </ng-template>
</nz-card>
<br>
<nz-card style="width:100%;" nz-col class="gutter-row" [nzSpan]="34" nzTitle="รายละเอียดพื้นฐาน และ รูปลักษณ์ " [nzExtra]="edit">


    <ng-template #edit>
        <a>แก้ไข</a>
    </ng-template>
</nz-card>